<% if current_user %>
  <h1>Current: <%= current_user.first_name %> <%= current_user.last_name %></h1>
  <%= link_to 'Log Out', destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to 'Log In', new_user_session_path %>
<% end %>